:root {
    --mainBackground: #ebeffa;
    --boxBackground: #fafbff;
    --blue: #0164fc;
    --shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: var(--mainBackground);
}

header {
    background-color: rgba(46, 46, 46, 0.7);
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    /* height: 100%; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.gameContainer {
    margin-top: 30px;
    background-color: var(--boxBackground);
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    position: relative;
}

.infoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boardContainer {
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    /* height: 70px; */
    /* width: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    border: 1px solid var(--blue);
}

.introText {
    position: absolute;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
}